.nav-sub {
  float: none;
  width: 100%;
  margin: 0;
  overflow: auto;
  border-bottom: 1px solid #ccc;
}

.nav-sub ul li {
  float: left;
  padding: 6px 12px;
  margin: 0;
  border-right: 1px solid #ccc;
}


.nav-sub ul li a {
  padding: 0;
  border: 0;
}

.nav-sub ul li a:hover {
  border: 0;
  background: none;
}

.nav-sub ul li.spacer {
  display: none;
}

.content {
  margin-right: 0;
  border: 0;
}
